<strong>Olá, {{deliveryman}}</strong>
<p>Uma de suas entregas foi cancelada, confira as informações abaixo: </p>
<p>
  <strong>Entrega:</strong> {{product}} <br />
  <strong>Destinatário:</strong> {{recipient}} <br />
  <strong>Rua:</strong> {{street}} <br />
  <strong>Número:</strong> {{number}} <br />
  <strong>Complemento:</strong> {{complement}} <br />
  <strong>Cidade:</strong> {{city}} <br />
  <strong>Estado:</strong> {{state}} <br />
  <strong>CEP:</strong> {{zip_code}} <br />

  <strong>Data/hora de cancelamento:</strong> {{date}} <br />

  <strong>Motivo:</strong> {{description}}
</p>
